
.idea/

.vs/

GeoJsonWeather/bin/

GeoJsonWeather/obj/

GPSData/bin/

GPSData/obj/

MeteorologyCore/bin/

MeteorologyCore/obj/

SolutionTests/bin/

SolutionTests/obj/

ThunderApp/bin/

ThunderApp/obj/

vMixController/bin/

vMixController/obj/

WeatherAlertsWF/bin/

WeatherAlertsWF/obj/
